<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
</head>
<body>
  <h1>Welcome to the Homepage</h1>
  <ul>
    <li><a href="/employees/create">Add Employee</a></li>
    <li><a href="/employees/search">Search Employee</a></li>
    <li><a href="/employees/all">Show All Employees</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</body>
</html>
